.buttons {
    border: solid 1px #61dafb;
    border-radius: 10px;
    margin-top: 7px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Counter {
    border: solid 1px #61dafb;
    border-radius: 10px;
    padding: 10px;

}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #61dafb;
    border: solid 1px #61dafb;
    border-radius: 10px;
    height: 100px;
    width: 200px;
}