.Set {
border: #61dafb 1px solid;
    border-radius: 10px;
    padding: 10px;
    height: 280px;
    width: 200px;
    margin: 1px;
    font-size: small;
    position:relative;
    color: #61dafb;
}
.button{
    position: absolute;
    bottom: 0;
    left: 40%;
    margin: 0 0 10px 0;
}
.input {
    margin: 5px;
}
.error {
    border: 1px dashed red;
    margin: 5px;
}